html,
body {
    text-align: center;
    background-image: radial-gradient(ellipse,
            #ec2c2cef 10%, #f7f445e5 30%, #ff9a2e 60%);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

table {
    border: 5px solid black;
    padding: 5px;
}

.cell {
    cursor: default;
    background-color: darkcyan;
    font-size: 120%;
    font-weight: bold;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
    user-select: none;
}

.revealed-cell {
    background-color: cadetblue;
}


.hidden {
    display: none;
}

.timer {
    font-family: monospace;
}

.clicked-mine {
    background-color: rgb(229, 14, 14);
}

.utility-buttons {
    position: flex;
    left: 0%;
}

.settings {
    position: absolute;
    left: 40%;
    text-align: left;
    display: inline-block;
    user-select: none;
}

.settings-container {
    background-color: rgb(209, 162, 61);
    border: 5px solid black;
}

.settingsBtn {
    cursor: pointer;
}

.restart-button {
    cursor: pointer;
    font-size: large;
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
    user-select: none;
}