body {
    text-align: center;
    color: rgba(242, 204, 233, 0.902);
    background-image: url("../images/battlefield.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 5px solid black;
    padding: 5px;
}

.cell {
    color: rgb(249, 247, 116);
    cursor: default;
    background-color: darkcyan;
    font-size: 120%;
    font-weight: bold;
    height: 30px;
    width: 30px;
    box-sizing: content-box;
    border-style: outset;
    padding: none;
    margin: none;
    user-select: none;
}

.revealed-cell {
    background-color: cadetblue;
}

.safe-mark {
    border: 4px solid rgb(255, 0, 43);
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.timer {
    font-family: monospace;
}

.clicked-mine {
    background-color: rgb(229, 14, 14);
}

.utility-buttons {
    position: flex;
    left: 0%;
}

.difficulty-settings {
    color: black;
    position: absolute;
    left: 40%;
    text-align: left;
    display: inline-block;
    user-select: none;
}

.difficulty-settings-container {
    background-color: rgb(209, 162, 61);
    border: 5px solid black;
}

.helpers-box {
    background-color: rgb(144, 228, 189);
    border: 5px solid black;
    position: relative;
}

.settingsBtn {
    cursor: pointer;
}

.restart-button {
    cursor: pointer;
    font-size: large;
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
    user-select: none;
}