body {
    text-align: center;
    color: rgba(242, 204, 233, 0.902);
    background-image: url("../images/battlefield.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10%;
}

.dont-click {
    border-collapse: collapse;
    padding: 2px;
}

.cell {
    color: rgb(249, 247, 116);
    cursor: default;
    background-color: darkcyan;
    font-size: 120%;
    font-weight: bold;
    height: 30px;
    width: 30px;
    box-sizing: content-box;
    border-style: outset;
    padding: none;
    margin: none;
    user-select: none;
}

.revealed-cell {
    background-color: cadetblue;
}

.safe-mark {
    border: 4px solid rgb(255, 0, 43);
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.timer {
    font-family: monospace;
}

.clicked-mine {
    background-color: rgb(229, 14, 14);
}

.utility-buttons {
    position: flex;
    left: 0%;
    user-select: none;
}

.difficulty-settings {
    color: black;
    position: absolute;
    left: 35%;
    text-align: left;
    display: inline-block;
    user-select: none;
}

.difficulty-settings-container {
    background-color: rgb(209, 162, 61);
    border: 5px solid black;
}

.helpers-box {
    background-color: rgb(144, 228, 189);
    border: 5px solid black;
    position: relative;
}

.settingsBtn {
    cursor: pointer;
    user-select: none;
}

.restart-button {
    cursor: pointer;
    font-size: large;
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
    user-select: none;
}

.manual-difficulty {
    width: 60px;
    height: 20px;
    padding: 5px 10px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

.helpers-container {
    user-select: none;
}

.high-scores-box {
    font-family:Verdana, Tahoma, sans-serif;
    color: black;
    display: flex;
    text-align: center;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.high-scores-table {
    background-color: rgb(244, 140, 146);
    border-collapse: separate;
    border: 5px solid black;
}

.MS-Header {
    font-family: 'Courier New', Courier;
    font-size: 70px;
    font-weight: 1000;
    filter: drop-shadow(5px 5px rgb(76, 3, 3));
    background-image: linear-gradient(purple 10%, pink 45%, rgb(102, 135, 242) 80%);
    background-clip: text;
    color: transparent;
}